@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --dark-overlay: rgba(10, 10, 10, 10);
    --dark-grey: rgb(39, 39, 39);
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: black;
    overflow: hidden;
    color: white;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px;
    margin-left: 10px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

label {
    font-size: 16px;
    margin-left: 10px;
}

input[type="checkbox"],
input[type="number"],
input[type="button"] {
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}

input[type="checkbox"]+label {
    margin-left: 20px;
}

input[type="button"] {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #3e8e41;
}

input[type="number"] {
    width: 60px;
}