@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: black;
    overflow: hidden;
}

#main-vid {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
}

#vid-info {
    position: absolute;
    padding: 10px;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

#vid-title {
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    user-select: none;
    text-decoration: none;
}

#next-vid-thumb {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    transform: translateY(-150%);
    border-top: 100px solid black;
    border-bottom: 100px solid black;
}

#notification-text {
    color: white;
    background-color: gray;
    border-radius: 1vh;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom:10;
    left: 0;
    right: 0;
    z-index: 50;
}

#search-box {
    color: white;
    background: transparent;
    border: 0;
    border-bottom: 0.2vh solid white;
    outline: none;
    text-align: center;
    font-weight: bold;
    width: 35vw;
    display: block;
    margin: 0 auto;
    z-index: 50;
}

#search-box::placeholder {
    color: white;
}