@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --dark-overlay: rgba(10, 10, 10, 10);
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: black;
    overflow: hidden;
}

#main-vid {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
}

#vidcontainer {
    padding: 10px;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: inline-flex;
}

#vid-buttons {
    color: white;
    width: 20%;
    text-align: center;
    position: relative;
}

#upvotes-symbol {
    font-size: 15vw;
}

#upvote-box {
    bottom: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
}

#upvote-amount {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

#vid-info {
    display: grid;
    width: 80%;
}

.post-additional-info {
    text-decoration: underline;
    color: rgb(218, 218, 218);
    font-size: medium;
    background-color: var(--dark-overlay);
    width: fit-content;
    border: 5px solid var(--dark-overlay);
    border-radius: 10px;
    margin-right: 2vw;
    float: left;
}

#time-ago-text {
    margin: 5px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

#vid-additional-info {
    margin-bottom: 1vh;
}

#vid-title {
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    user-select: none;
    text-decoration: none;
}

#next-vid-thumb {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    transform: translateY(100vh);
    border-top: 100px solid black;
    border-bottom: 100px solid black;
}

#notification-text {
    color: white;
    background-color: gray;
    border-radius: 1vh;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom:10;
    left: 0;
    right: 0;
    z-index: 50;
}

#search-box {
    color: white;
    background: transparent;
    border: 0;
    border-bottom: 0.2vh solid white;
    outline: none;
    text-align: center;
    font-weight: bold;
    width: 35vw;
    display: block;
    margin: 0 auto;
    z-index: 50;
}